GITHUB_TOKEN=github_pat_12345
RESEND_API_KEY=re_12345
DATABASE_URL=postgres://postgres:postgres@localhost:5432/github-subscriptions
REDIS_URL=redis://localhost:6379
API_KEY=f898cdade174f9774f17130d6cff1e48
PORT=3000
GRPC_PORT=50051
BASE_URL=http://localhost:3000
NODE_ENV=development
SCAN_INTERVAL_MS=30000
GH_CACHE_TTL_SECONDS=600
